cvxpy<1.0               # module was written for cvxpy version zero
numpy>=1.14
pandas>=0.22
scikit-learn>=0.18
seaborn                 # required to run example notebooks
requests                # required to run example notebooks
pvlib                   # required to run example notebooks
tables                  # Linke turbidity lookup table in pvlib requires tables
sqlalchemy              # required to set up tutorial data, pulled from Pecan Street
psycopg2                # required to set up tutorial data, pulled from Pecan Street
